{% extends "layout.html" %}

{% block main %}
    <table class='taxonomy'>
        <tr>
            <th><i>G</i>enome</th><th><i>D</i>omain</th><th><i>P</i>hylum</th><th><i>C</i>lass</th><th><i>O</i>rder</th><th><i>F</i>amily</th>
            <th><i>G</i>enus</th><th><i>S</i>pecies</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{result.genome}}</td><td>{{result.domain}}</td><td>{{result.phylum}}</td><td>{{result.class}}</td><td>{{result.order1}}</td>
                <td>{{result.family}}</td><td>{{result.genus}}</td><td>{{result.species}}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/taxonomy" method='post'>
        <button>Summary</button>
    </form>
{% endblock %}
